
ApiServices/LMS/*/bin
ApiServices/LMS/*/obj
ApiServices/LMS/.idea/

LmsAdminWebUi/angular/node_modules
LmsAdminWebUi/angular/.angular
LmsAdminWebUi/angular/.vscode
LmsAdminWebUi/recat-client/node_modules
LmsAdminWebUi/recat-client/.vscode