/* You can add global styles to this file, and also import other style files */

@import 'primeng/resources/primeng.css';
@import 'primeflex/primeflex.scss';
@import 'primeicons/primeicons.css';
@import 'scss/layout/layout.scss';

$gutter: 1rem;
