/* You can add global styles to this file, and also import other style files */

// @import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.css';
// @import 'assets/layout/styles/layout/layout.scss';
@import 'primeflex/primeflex.scss';
@import 'primeicons/primeicons.css';
@import 'scss/layout/layout.scss';

$gutter: 1rem; //for primeflex grid system
// @import 'assets/layout/styles/layout/layout.scss';
// @import 'scss/theme/bootstrap4-dark-blue/theme.css';
// /* PrimeNG */
// @import '../node_modules/primeng/resources/primeng.min.css';
// @import '../node_modules/primeflex/primeflex.scss';
// @import '../node_modules/primeicons/primeicons.css';
