@import "styles/index.scss";

@import 'primereact/resources/themes/mdc-dark-deeppurple/theme.css';
@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';